@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');

body{  
    font-family: 'Archivo', sans-serif;
    font-size: 1.1rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header .navbar-brand{
    color: #05386B;
    font-weight: bold;
    font-size: 1.5rem;
}

header ul li .nav-link{
    color: #000;
}

header ul li .nav-link:hover{
    color: #05386B;
}

header{
    background-color: #c6bbb2;
    padding: 0 7rem;
    z-index: 100;
    top: 0;
    position: sticky;
}

input[type="search"]{
    width: 22rem; 
}

header ul li .nav-link{
    font-size: 1.1rem;
}

header .nav{
    margin-right: 4rem;
}

div .entrar{
    background-color: #05386B;
    color: #fff;
}

.entrar:hover{
    background-color: #000;
    color: #fff;
}

.fa-gear{
    font-size: 1.4rem;
    color: #05386B;
    background-color: none;
    padding-top: 3px;
}

main{
    width: 400px;
    margin: 7rem auto;
    flex-grow: 1;
}

main .container{
    justify-content: center;
    margin-bottom: 2rem;
}

main button{
    width: 100px;
    margin: 0 auto;
}

main .botao{
    font-size: 1.1rem;
    background-color: #05386B;
    border: none;
}

main .botao:hover{
    background-color: #000;
}

footer p{
    margin: 0;
    font-size: 0.9rem;
}